{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legacy System</title>
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    {% include 'background.html' %}
    
    <header>
        <div class="logo">LEGACY SYSTEM</div>
        <nav>
            <a href="/">Início</a>
            <a class="separador_nav">|</a>
            <a href="#sobre">Sobre nós</a>
            <a class="separador_nav">|</a>
            <a href="#contato">Contato</a>
            <a class="separador_nav">|</a>
            <a href="#faq">FAQ</a>
            
            <!-- if logado - botoes de perfil e sair-->
            {% if user.is_authenticated %}
                <div class="user-actions">
                    <a href="{% url 'perfil' %}" class="btn-icon" title="Perfil">
                        <img src="{% static '/icons/user_icon.svg' %}" alt="Perfil">
                    </a>
                    <a href="{% url 'logout' %}" class="btn-icon" title="Sair">
                        <img src="{% static '/icons/sair_icon.svg' %}" alt="Sair">
                    </a>
                </div>
            <!-- else - botao de login -->
            {% else %}
                <a href="{% url 'login' %}" class="btn-login">Login</a>
            {% endif %}
        </nav>
    </header>
    
    <div class="hero">
        <h1>Transforme a gestão da sua empresa com o Legacy System</h1>
        <p>Centralize o controle de clientes, fornecedores, produtos e funcionários em uma plataforma intuitiva, segura e eficiente. Simplifique processos e potencialize seus resultados.</p>
        
        {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}" class="btn-dashboard">
                Acessar a dashboard
                <img src="{% static '/icons/Group.png' %}" alt="Dashboard Icon">
            </a>
        {% else %}
            <a href="{% url 'login' %}" class="btn-dashboard">
                Acessar a dashboard
                <img src="{% static '/icons/Group.png' %}" alt="Dashboard Icon">
            </a>
        {% endif %}
    </div>
    
    <script src="{% static '/js/script.js' %}"></script>
</body>
</html>
