{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Perfil</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
</head>
<body>
    <div class="background-blobs"></div>
    <div class="blob-extra"></div>
    
    <div class="container-dashboard">
        <aside class="sidebar">
            <a href="{% url 'home' %}" class="icone-home" title="Home">
                <img src="{% static '/icons/home_icon.svg' %}" alt="Home">
            </a>

            <!-- barra de navegacao lateral -->
            <nav class="sidebar-nav">
                <a href="{% url 'dashboard' %}" class="item-nav {% if request.resolver_match.url_name == 'dashboard' %}ativo{% endif %}" title="Dashboard">
                    <img src="{% static '/icons/dashboard_icon_ativo.svg' %}" alt="Dashboard">
                </a>
                <a href="{% url 'clientes' %}" class="item-nav {% if request.resolver_match.url_name == 'clientes' %}ativo{% endif %}" title="clientes">
                    <img src="{% static '/icons/clientes_icon_inativo.svg' %}" alt="clientes">
                </a>
                <a href="#fornecedores" class="item-nav {% if request.resolver_match.url_name == 'fornecedores' %}ativo{% endif %}" title="Fornecedores">
                    <img src="{% static '/icons/fornecedores_icon_inativo.svg' %}" alt="Fornecedores">
                </a>
                <a href="#produtos" class="item-nav {% if request.resolver_match.url_name == 'produtos' %}ativo{% endif %}" title="Produtos">
                    <img src="{% static '/icons/produtos_icon_inativo.svg' %}" alt="Produtos">
                </a>
                <a href="#funcionarios" class="item-nav {% if request.resolver_match.url_name == 'funcionarios' %}ativo{% endif %}" title="Funcionários">
                    <img src="{% static '/icons/funcionarios_icon_inativo.svg' %}" alt="Funcionários">
                </a>
                <a href="#vendas" class="item-nav {% if request.resolver_match.url_name == 'vendas' %}ativo{% endif %}" title="Vendas">
                    <img src="{% static '/icons/vendas_icon_inativo.svg' %}" alt="Vendas">
                </a>
            </nav>
            
            <div class="sidebar-foot">
                <a href="#notificacoes" class="item-nav" title="Notificações">
                    <img src="{% static '/icons/notificacao_icon.svg' %}" alt="Notificações">
                </a>
                <a href="{% url 'perfil' %}" class="item-nav" title="Perfil">
                    <img src="{% static '/icons/user_icon.svg' %}" alt="Perfil">
                </a>
                <a href="{% url 'logout' %}" class="item-nav" title="Sair">
                    <img src="{% static '/icons/sair_icon.svg' %}" alt="Sair">
                </a>
            </div>
        </aside>
        
        <main>
            <!-- bem vindo  (puxando primeiro nome do usuario)-->
            <h1 class="titulo-boas-vindas">Bem vindo, {{ user.first_name|default:user.username }}!</h1>
    
    <script src="{% static '/js/script.js' %}"></script>
</body>
</html>
