{% load static %}        
        <aside class="sidebar">
            <a href="{% url 'home' %}" class="icone-home" title="Home">
                <img src="{% static '/icons/home_icon.svg' %}" alt="Home">
            </a>

            <!-- barra de navegacao lateral -->
            <nav class="sidebar-nav">
                <a href="{% url 'dashboard' %}" class="item-nav {% if request.resolver_match.url_name == 'dashboard' %}ativo{% endif %}" title="Dashboard">
                    <img src="{% static '/icons/dashboard_icon_ativo.svg' %}" alt="Dashboard">
                </a>
                <a href="{% url 'clientes' %}" class="item-nav {% if request.resolver_match.url_name == 'clientes' %}ativo{% endif %}" title="clientes">
                    <img src="{% static '/icons/clientes_icon_inativo.svg' %}" alt="clientes">
                </a>
                <a href="{% url 'fornecedores' %}" class="item-nav {% if request.resolver_match.url_name == 'fornecedores' %}ativo{% endif %}" title="Fornecedores">
                    <img src="{% static '/icons/fornecedores_icon_inativo.svg' %}" alt="Fornecedores">
                </a>
                <a href="{% url 'produtos' %}" class="item-nav {% if request.resolver_match.url_name == 'produtos' %}ativo{% endif %}" title="Produtos">
                    <img src="{% static '/icons/produtos_icon_inativo.svg' %}" alt="Produtos">
                </a>
                <a href="{% url 'funcionarios' %}" class="item-nav {% if request.resolver_match.url_name == 'funcionarios' %}ativo{% endif %}" title="Funcionários">
                 <img src="{% static '/icons/funcionarios_icon_inativo.svg' %}" alt="Funcionários">
                </a>

                <a href="{% url 'vendas' %}" class="item-nav {% if request.resolver_match.url_name == 'vendas' %}ativo{% endif %}" title="Vendas">
                    <img src="{% static '/icons/vendas_icon_inativo.svg' %}" alt="Vendas">
                </a>
            </nav>

            <div class="sidebar-foot">
                <a href="#notificacoes" class="item-nav" title="Notificações">
                    <img src="{% static '/icons/notificacao_icon.svg' %}" alt="Notificações">
                </a>
                <a href="{% url 'perfil' %}" class="item-nav" title="Perfil">
                    <img src="{% static '/icons/user_icon.svg' %}" alt="Perfil">
                </a>
                <a href="{% url 'logout' %}" class="item-nav" title="Sair">
                    <img src="{% static '/icons/sair_icon.svg' %}" alt="Sair">
                </a>
            </div>
        </aside>